<header>
          <nav class="navbar justify-content-center">
            <a class="navbar-brand" href="home">
              <img src="icons/vote.png" class="d-inline-block" alt="">
            </a>
          </nav>
        </header>
