<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="../">


            <img src="icons/vote.png" alt="Logo" width="100" height="100"  class="d-inline-block aline-text-top">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link letra d-inline-block" aria-current="page" href="../"> Home </a>
                    <a class="nav-link letra d-inline-block"  href="tabla"> Votaciones</a>
                    <a class="nav-link letra d-inline-block"  href="crearvotacion"> Crear Votación</a>
                </li>
            </ul>
        </div>
    </div>
</nav>     