{{>nav_tablas}}

<div class="container">
<form action="/crearvotacion" class="col-md-5 mx-auto my-auto pb-4 px-4 py-4">
    <span class="mx-auto my-auto h2"> Creacion tabla </span>

<div class="mb-3">
    <label for="NombreTabla" class="form-label">Nombre de tabla</label>
    <input type="text" name="Nombre_evento" class="form-control" id="Nombre_evento" aria-describedby="NombreTabla">
</div>

<div class="mb-3">
    <label for="Participante1" class="form-label">Participante 1:</label>
    <input type="text" name="Persona1" class="form-control" id="Participante1">
</div>
<div class="mb-3">
    <label for="Participante2" class="form-label">Participante 2:</label>
    <input type="text" name="Persona2" class="form-control" id="Participante2">
</div>
<div class="mb-3">
    <label for="Participante3" class="form-label">Participante 3:</label>
    <input type="text" name="Persona3" class="form-control" id="Participante3">
</div>

<button type="submit" class="btn btn-primary">submit</button>
</form>
</div>
 