{{>nav_tablas}}    

       <div class="container">
        <div class="row justify-content-center">
            <div class=" caja col-md-5 col-sm-12 col-lg-5 col-xl-5" style="background-color: white;">
                <p class=" Titulo text-center fs-2 my-3"> Votacion </p>
                <hr>
                <form class="pb-4 px-4">

                    <p class="Titulo fs-4"> Ganador del reality</p>
                    
                    <div class="text-center form-check">
                        <input class="form-check-input boton" type="checkbox" id="defaultCheck1">
                        <label class="texto_integrantes form-check-label fs-4" for="defaultCheck1"> Jorge</label>
                    </div>
                    <div class="text-center form-check">
                        <input class="form-check-input boton" type="checkbox" id="defaultCheck1">
                        <label class="texto_integrantes form-check-label fs-4" for="defaultCheck1"> Coni</label>
                    </div>
                    <div class="text-center form-check">
                        <input class="form-check-input boton" type="checkbox" id="defaultCheck1">
                        <label class="texto_integrantes form-check-label fs-4" for="defaultCheck1"> Pincoya </label>
                    </div>

                    <div class="d-grid gap-2 mt-5">
                        <button class="btn btn-danger" type="submit">Subir Votación</button>
                    </div>

                    </div>
                </form>
            </div>
        </div>
    </div> 

    