{{>nav_home}}
<div class="container">
    <div class="row justify-content-center">
        <div class="carta col-md-4 col-sm-12 col-lg-4 col-xl-4 py-lg-5 fs-1 d-grid gap-4">
            <a class="btn btn-danger fs-4 mx-auto p-2 boton_index" href="login" role="button"> Ingresar Usuario</a>
            <a class="btn btn-danger fs-4 mx-auto p-2 boton_index" href="register" role="button"> Ingresar Administrador</a>
            <a class="btn btn-danger fs-4 mx-auto p-2 boton_index" href="tabla.html" role="button"> Ingresar a las votaciones</a>
        </div>   
    </div>      
</div>


