.table{
    width: 400px;
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 10px;
    font-size: "lato";
    box-shadow: 0px 0px 20px 2px #42275a;
  }

  body{
    background: #810804;  
    background: -webkit-linear-gradient(to right, #ce9102, #810804); 
    background: linear-gradient(to right, #ce9102, #810804);
}

#terminado{
  text-decoration-line: line-through;
}

#botones{
  color: rgb(240, 1, 1);
  text-decoration: double;
  text-decoration: underline;
  font-style: oblique;
}