{{>nav_usuarios}}

  <div class="inicio">

    <section class="sign">
      <h3 >Inicio de sesión</h3>
      <form class="sign-form" action="/usuarios/ingresar" method="post">

        <div class="usuario">
          <label class="text" for="rut">Rut:</label>
          <input class="controls" type="text" name="Rut" placeholder="Ingrese su rut">
        </div>

        <div class="contraseña">
          <label class="text" for="contraseña">Contraseña:</label>
          <input class="controls" type="password" name="password" placeholder="Ingrese su contraseña">
        </div>

        <input class="boton" type="submit" value="Ingresar"> 

        <label class="olvido" for="olvido">¿No tienes cuenta? <a href="crear">Registrarse</a></label>

      </form>

    </section>

  </div>