<h1>Usuarios</h1>

{{#each data}}
  <ul>
    <li>
      Name:
      {{this.name}}
    </li>
    <li>
      Rut:
      {{this.Rut}}
    </li>
    <li>
      password:
      {{this.password}}
    </li>
  </ul>
{{/each}}