<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <title>Iniciar sesión</title>
</head>

<body>
  
  <header>
    <div class="nav">
      <div class="imageref">
        <a class="imagen" href="index.html">
          <img class="vota" src="vote.png" alt="logo de la pagina VOTA">
        </a>
      </div>
    </div>
  </header>

  <div class="inicio">
    
    <section class="sign">
      <h3 >Inicio de sesión</h3>
      <form class="sign-form" action="index.html" method="get">

        <div class="usuario">
          <label class="text" for="rut">Rut:</label>
          <input class="controls" type="text" name="rut" placeholder="Ingrese su rut">
        </div>

        <div class="contraseña">
          <label class="text" for="contraseña">Contraseña:</label>
          <input class="controls" type="password" placeholder="Ingrese su contraseña">
        </div>

        <a href="#" class="olvido">¿Has olvidado la contraseña?</a>

        <input class="boton" type="submit" value="Ingresar"> 

        <label class="olvido" for="olvido">¿No tienes cuenta? <a href="register.html">Registrarse</a></label>

      </form>
  
    </section>

  </div>

</body>
</html>