{{>nav_usuarios}}

  <div class="Registro">
    
    <section class="reg">
      <h3 >Registro</h3>
      <form class="register-form" action="/register" method="post">

        <div class="nombre-completo">
          <label class="text" for="nombre-completo">Nombre completo</label>
          <input class="controls" type="text" name="nombre" placeholder="Ingresar nombre completo">
        </div>

        <div class="usuario">
          <label class="text" for="rut">Rut:</label>
          <input class="controls" type="text" name="rut" placeholder="Ingrese su rut">
        </div>

        <div class="contrase単a">
          <label class="text" for="contrase単a">Contrase単a:</label>
          <input class="controls" type="password" placeholder="Ingrese su contrase単a">
        </div>

        <input class="boton" type="submit" value="Registrarse">
                        
        </form>
  
    </section>

  </div>